body {
  font-family: "Google Sans", arial, sans-serif;
}

.main-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.app-wrapper {
  padding: 20px;
  border: 1px solid rgb(200, 205, 206);
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

h1 {
  color: rgb(155, 149, 149);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}

li {
  color: rgb(112, 117, 122);
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.weather-temp img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  top: -9px;
  position: relative;
}

.weather-temp strong {
  color: rgb(32, 33, 36);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}

.weather-temp .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

a {
  text-decoration: none;
}
