body {
  font-family: "PT Mono", monospace;
  color: #7b6785;
}

.heading {
  display: block;
  line-height: 35px;
  text-align: center;
  margin-top: 20px;
  color: #3b4858;
}

.main-title {
  text-transform: uppercase;
  color: #ed9955;
  font-weight: 600;
  font-size: 40px;
}

.sub-title {
  color: #3b4858;
  font-size: 30px;
  opacity: 0.5;
}

.main-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.app-wrapper {
  padding: 20px;
  border: 1px solid rgb(200, 205, 206);
  border-radius: 5px;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.overview {
  margin-bottom: 40px;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 35px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}

li {
  color: rgb(112, 117, 122);
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.weather-temp img {
  margin-right: 5px;
  height: 100px;
  width: 100px;
  top: -18px;
  position: relative;
}

.weather-temp strong {
  color: rgb(32, 33, 36);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}

.weather-temp .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.footer {
  font-size: 12px;
}

.name {
  font-size: 12px;
  opacity: 0.8;
}

.weather-temp .active {
  color: rgb(32, 33, 36);
  cursor: default;
}

.weather-temp .active:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.forecast-day {
  font-size: 16px;
  opacity: 0.5;
}

.forecast-temp {
  font-size: 16px;
}

.forecast-temp-max {
  font-size: 13px;
  opacity: 0.8;
}

.forecast-temp-min {
  font-size: 13px;
  opacity: 0.5;
}

.btn-primary {
  background-color: #3b4858;
  border: 1px solid #3b4858;
}

.btn-primary:hover {
  background-color: #3b4858;
  border: 1px solid #3b4858;
  opacity: 0.6;
  outline: none;
}

.btn-primary:focus {
  background-color: #3b4858;
  border: 1px solid #3b4858;
  outline: none !important;
  box-shadow: none;
}

.btn-primary:active {
  background-color: #3b4858;
  border: 1px solid #3b4858;
  outline: none !important;
  box-shadow: none;
}

::placeholder {
  font-style: italic;
}

.source-text {
  color: #ed9955;
  font-weight: 500;
  font-style: italic;
}

#city {
  color: #de6b28d7;
  font-weight: 600;
}

.last-updated {
  font-style: italic;
}

#description {
  color: #3b4858;
  font-weight: 600;
  opacity: 0.8;
}
